/**
 * @name Flag Emojis
 * @author TheServerit
 * @version 1.2
 * @description Makes emojis of flags show as actual emojis.
 
 * @source
 {source url}

 * @invite
 {the letters part of a server invite}

 * @donate https://www.patreon.com/LogoMakerDiscord
 * @patreon https://www.patreon.com/LogoMakerDiscord
 
 * @website
 {domain}

 * @authorId 487601133817298954

 * @Credit: TheServerit
 {Idk what this does}

*/

@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
[class^=autocompleteRowContent_] [class*=autocompleteRowHeading_], /* chat autocomplete */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_], /* inbox */
[class^=quickswitcher_] [class^=name_] /* ctrl+k */
 { font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }
[class^=emptyChannelIcon_] ~ [class*=description_] > *
 
 [class^=username_] /*display name in chat*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=membersWrap_] /*member list*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=defaultColor_] /*name in profile*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }
 
 [class^=wrapper_] /*when editing a message with mention*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

.mention /*in mention*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=repliedMessage] /*name in reply*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }
 
 [class^=usernameFont_] /*vc username*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=embedAuthor_] /*embed (title)*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }
 
 [class^=container] /*search name*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=inputDefault_] /*profie editing*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=lineClamp1_] /*profie editing*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class*=Container]  /*server name*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=hoverRoll_]  /*status in bottom left corner*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=name_]  /*"replying to {name}"*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=eyebrow_]  /*server name above categories in settings*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=info_]  /*name in main profile view in settings*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }
 
 [class^=text-md-normal_]  /*"display name: {name}"*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=input_]  /*emoji search*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=scrollbarGhostHairline_]  /*" ```flag``` "*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [data-slate-string^=true]  /*" ```flag``` " in text box*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [id^=message-content] code.inline /*in `{text}` format*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=fontScaling_]  /*when hovering on "X votes" in a poll*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=h5_]  /*vencord server info section*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=changeStr_]  /*moderation action logs*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }
 
 [class^=searchInput_]  /*the list in "choose a server" (when not clicked)*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=overlayTitleText_]  /*name of user on square in vc, bottom corner*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=text-xs]  /*"vc name / server {flag}"*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=heading-sm]  /*user under activities when hovering on server*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=contents_]  /*"go to {server with flag in name}" (after adding app) and maybe more stuff?*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class^=roleInner_]  /*"roles/members" section*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class*=permissionsLabel_]  /*"roles/members" section*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

 [class*=username_]  /*"roles/members" section*/
 { font-family: "Twemoji Mozilla", var(--font-primary); }

.botTagVerified_a02df3 {
 width: 64.712px;
 height: 71.891px;
 background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2264.712%22%20height%3D%2271.891%22%20viewBox%3D%220%200%2017.122%2019.021%22%3E%3Cg%20transform%3D%22matrix(.49469%200%200%20.49469%20-50.713%20-46.175)%22%3E%3Cpath%20d%3D%22M122.235%20123.206l3.058%204.294-5.419.836s-.541%201.552.923%201.424c1.465-.128%203.837-.593%203.837-.593l-2.952%201.273s-.544%201.871%201.389%201.212c1.442-.492%203.097-1.814%203.097-1.814%204.34-1.315%201.367-1.414-2.069-6.795zM119.191%20123.686l-2.892%204.407-3.558-4.072s-1.666-.004-1.016%201.314c.65%201.318%202.78%202.748%202.78%202.748l-3.266-1.753s-1.623.621-.307%202.184c.982%201.165%203.505%201.242%203.505%201.242%202.68%202.08%201.8.594%205.582-4.392z%22%20fill%3D%22%23ff7f2a%22/%3E%3Cpath%20d%3D%22M113.807%2093.341c-6.237%200-11.292%204.488-11.292%2010.023.078%204.01%203.213%208.008%203.34%2011.158%200%206.015%206.313%2010.892%2014.1%2010.892%207.786%200%2017.171-6.747%2017.171-12.762%200-4.499-3.179-6.129-8.61-7.752-1.405-6.812-8.54-11.44-14.71-11.559z%22%20fill%3D%22%23fc0%22/%3E%3Cpath%20d%3D%22M107.059%20105.636c-1.873.282-3.208%205.212-3.208%205.212l5.48.267s2.538-2.005%201.737-3.742c-.802-1.737-2.25-2.002-4.01-1.737z%22%20fill%3D%22%23ff7f2a%22/%3E%3Cellipse%20ry%3D%221.871%22%20rx%3D%221.203%22%20cy%3D%22102.83%22%20cx%3D%22111.736%22%20fill%3D%22%2328170b%22/%3E%3Cellipse%20cx%3D%22105.722%22%20cy%3D%22102.696%22%20rx%3D%221.203%22%20ry%3D%221.871%22%20fill%3D%22%2328170b%22/%3E%3Cpath%20d%3D%22M119.724%20111.125s6.426-1.606%208.599-.85c2.173.755%204.914%201.795%203.496%204.346-1.417%202.552-3.685%204.442-7.843%205.67-3.445%201.018-7.087.567-7.087.567s14.836-3.402%2013.513-7.182c-1.323-3.78-10.678-2.551-10.678-2.551z%22%20fill%3D%22%23fba500%22/%3E%3C/g%3E%3C/svg%3E');
 background-size: contain;
 background-repeat: no-repeat;
}
